<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
  <div class="img">
    <h1 class="center" >Edit Mansion</h1>
    <a href="/house"><button>Back To Home</button></a>

    <form action="/house/<%= house._id %>?_method=PUT" method="post">
        <fieldset>
            <legend>Edit A Mansion</legend>
          <label>
            NAME:<input
              type="text"
              name="name"
              placeholder="Enter Your Name"
              value="<%=house.name%>"
            />
          </label>
          <label>
            City:<input
              type="text"
              name="city"
              placeholder="Enter City and State"
              value="<%=house.city%>"
            />
          </label>
          <label>
            Address:<input
              type="text"
              name="address"
              placeholder="Enter Street Address"
              value="<%=house.address%>"
            />
          </label>
          <label>
          Bedrooms:<input
              type="text"
              name="bedrooms"
              placeholder="Enter Bedrooms #"
              value="<%=house.bedrooms%>"
            />
          </label>
          <label>
            Bathrooms:<input
              type="text"
              name="bathrooms"
              placeholder="Enter Bathrooms #"
              value="<%=house.bathrooms%>"
            />
          </label>
          <!-- <label>
            Image:<input
              type="file"
              name="image"
              placeholder="Enter Your Name"
              value="<%=house.image%>"

            /> -->
          </label>     
        </fieldset>
                
        <input type="submit" value="Edit This Mansion" />
      </form> 
    </div>  
</body>
</html>