<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>


<body>

    <div class="img">
    <h1 class="title">Mansions R Us</h1>
   
<div class="title"><a href="/house/new"><button class="title1"> Post Your Home</button></a></div>

<div class="dis"></div>
<div class="row">
    <% for (house of houses) { %>
<div class="e-container" id="e-container">
   <div class="mon">  
       <div class="img-container">
        <img src="<%=house.image%>" alt="">

        <img src="/images/<%=house.image%>" alt="">
        </div>
        <div class="info">
            <h2> House By : <a href="/house/<%= house._id%>"><%=house.name%></a></h2>
        
        </div>
    </div>
    
</div>
   <% } %>
</div>
</div>

<div class="par">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ex obcaecati porro? Ea minus maiores optio, quae beatae repellat ullam labore modi libero aperiam ex quisquam provident. Doloremque, ab recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, exercitationem atque labore optio vero deleniti sequi! Distinctio excepturi architecto quam voluptatum, molestias maiores dolore beatae labore. Iusto nemo cum est!
Voluptate sapiente assumenda distinctio in. Ex iste temporibus sit, quisquam quidem minus officiis excepturi veniam doloribus aliquid rem unde, similique atque. Exercitationem eius veniam aspernatur cum dignissimos consequatur, suscipit a.
Placeat earum incidunt, voluptatem perferendis quo consequuntur maiores atque asperiores odit quod vitae beatae repellendus veniam dolorem, consequatur reiciendis, velit deleniti magni numquam nobis sit? Asperiores vel deserunt porro explicabo!
Dolorem, voluptates! Eum ratione veritatis expedita autem voluptatem esse voluptates aperiam dolorum. Quisquam nemo incidunt, nihil nostrum hic consequatur esse accusantium? Perferendis illum facere nobis, tempora obcaecati quod est inventore?
Earum, neque eveniet accusamus id hic ullam deserunt similique, laudantium dolores alias atque placeat enim, facere mollitia velit maiores perferendis saepe reprehenderit quos odio. Vitae, suscipit nulla? Excepturi, velit iste.
Facere quas repellendus, accusamus laudantium esse, optio architecto id maiores hic, amet a mollitia recusandae dolores explicabo soluta quisquam voluptates exercitationem nam fugiat? Explicabo illo dolores neque ab odit? Numquam!
Vitae alias obcaecati maxime ab qui earum fuga tenetur voluptatem quae. Error maiores voluptatibus doloremque. Perferendis hic distinctio eaque in ipsam sequi, temporibus veritatis quam optio, reprehenderit tenetur expedita? Iure.
Illum, earum. Dolor ut voluptatibus culpa? Facere maiores adipisci omnis architecto odit esse voluptate sit consectetur in ut aliquam illum reiciendis harum accusamus tempore pariatur dolorum ipsam, eum vero itaque?
Deleniti adipisci nobis saepe placeat consequuntur error ea mollitia, molestiae tenetur, earum dolorem beatae maiores repellat veniam porro architecto iusto hic ipsum cupiditate voluptatum numquam quis! Saepe quam cupiditate unde!
Minima voluptas pariatur magnam delectus nam maxime cupiditate molestiae. Beatae ab a obcaecati ducimus ad optio placeat quae minima, fuga ex, pariatur nobis odit nisi modi voluptas asperiores sequi officia.</div>
</div>
</body>
</html>